@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Swiper custom styles */
.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

/* Custom styles for mobile responsiveness */
@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

/* Service Slider Styles */
.service-slider .swiper-pagination {
  position: relative;
  margin-top: 2rem;
}

.service-slider .swiper-button-next:after,
.service-slider .swiper-button-prev:after {
  font-size: 1.5rem;
}

.service-slider .swiper-pagination-bullet {
  width: 1.5rem !important;  /* 24px */
  height: 0.25rem !important; /* 4px */
  border-radius: 0 !important;
  background: white !important;
  opacity: 0.5;
}

.service-slider .swiper-pagination-bullet-active {
  opacity: 1;
  background: rgb(96 165 250) !important; /* sky-400 color */
}